@import url('https://fonts.googleapis.com/css?family=Enriqueta|Gilda+Display&display=swap&subset=latin-ext');




/* --------------------------------------------------------------- */
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gilda Display', serif;
    font-family: 'Enriqueta', serif;
    font-size: 12px;
    background-color: #e0e2d8;
    overflow-x: hidden;
}

.hidden{
    display: none;
}

.logo{
  margin: 10px auto -200px;;
  display: block;
}

.product{
    display: flex;
    align-items: center;
}

.product--details{
    background-color: #ffffff;
    width: 400px;
    padding: 80px 40px 60px;
    text-align: center;
}

.product--details--header{
    font-family: 'Gilda Display', serif;
    color: #09402c;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.product--details--nav{
    display: flex;
    justify-content: space-around;
}

.product--details--nav--item{
    padding: 10px;
    color: #d9d9d3;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    position: relative;
    display: block;
    line-height: 1.75;
}

.product--details--nav--item:hover{
    color: #8b9183;
}

.product--details--nav--item.active{
    color: #43b02a;
}

.product--details--nav--item:after{
    content: "";
    display: block;
    width: calc(100% - .267em);
    height: 1px;
    opacity: 0;
    background-color: #43b02a;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.product--details--nav--item.active:after{
    opacity: 1;
}

.product--details--content--item{
    display: none;
    line-height: 1.6;
}

.product--details--content--item.active{
    display: block;
}


.button {
    display: inline-block;
    vertical-align: top;
    min-width: 160px;
    font-family: Brown,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    font-size: 10px;
    line-height: .83333;
    font-weight: 700;
    letter-spacing: .267em;
    text-indent: .267em;
    text-transform: uppercase;
    text-align: center;
    padding: 1.8em 1.6em 1.5em;
    background-color: #ebebe8;
    border-radius: 2px;
    -webkit-transition: color .25s ease,border-color .25s ease,background-color .25s ease;
    transition: color .25s ease,border-color .25s ease,background-color .25s ease;

    background-color: #fedb00;
    border: 0;
}


.ingridients{
  position: relative;
}

.ingridients--title{
    position: absolute;
    top: 40px;
    left: -80px;
    width: 10px;
    font-size: 18px;
    color: rgba(9,64,44,.2);
    direction: rtl;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    white-space: nowrap;
    line-height: 1.66667;
    letter-spacing: .267em;
    text-transform: uppercase;
}

.swiper-container {
  /* width: 600px; */
  /* height: 300px; */
  height: auto;
}